In [3]:
import pandas as pd

In [16]:
ls datos/data_tmp/

TASS2019_country_CR_train.xml  TASS2019_country_PE_train.xml
TASS2019_country_MX_train.xml  TASS2019_country_UY_train.xml

In [17]:
cr = pd.read_xml('datos/data_tmp/TASS2019_country_CR_train.xml')
mx = pd.read_xml('datos/data_tmp/TASS2019_country_MX_train.xml')
pe = pd.read_xml('datos/data_tmp/TASS2019_country_PE_train.xml')
uy = pd.read_xml('datos/data_tmp/TASS2019_country_UY_train.xml')

In [25]:
# Exportación de datos:

cr.to_csv('datos/data_cleaned/country_CR_train.csv')
mx.to_csv('datos/data_cleaned/country_MX_train.csv')
pe.to_csv('datos/data_cleaned/country_PE_train.csv')
uy.to_csv('datos/data_cleaned/country_UY_train.csv')

In [26]:
mx = pd.read_csv('datos/data_cleaned/country_MX_train.csv')

In [27]:
mx

,Unnamed: 0,tweetid,user,content,date,lang,sentiment
0,0,767817507897872385,71463624,— ¿Nivel de inglés? — Alto. — Traduzca juguete...,Mon Aug 22 20:15:33 +0000 2016,es,NaN
1,1,772486813948575745,572924309,Si soy de área 4 y con suerte pase mate IV y m...,Sun Sep 04 17:29:43 +0000 2016,es,NaN
2,2,771871884451295233,158142748,Sabían que su after fav Teatro G. fue construi...,Sat Sep 03 00:46:12 +0000 2016,es,NaN
3,3,771947976302456832,132254421,Y hoy por primera vez me salí con el permiso d...,Sat Sep 03 05:48:34 +0000 2016,es,NaN
4,4,774741645484896256,105530236,"¿Para qué hacen coraje con Ambriz?, al final n...",Sat Sep 10 22:49:36 +0000 2016,es,NaN
...,...,...,...,...,...,...,...
984,984,818773396318277633,195469214,Si quieren que aprenda algo de eso dejen esa m...,Tue Jan 10 10:56:04 +0000 2017,es,NaN
985,985,818738784657408000,93545559,Últimos momentos en medicina familiar y de gua...,Tue Jan 10 08:38:32 +0000 2017,es,NaN
986,986,819050320177152000,322339981,@natyamezcua hay pues hay que ver que hacemos ...,Wed Jan 11 05:16:28 +0000 2017,es,NaN
987,987,819049335602216962,627591478,Me acabo de tragar un pastel en mood celina,Wed Jan 11 05:12:33 +0000 2017,es,NaN
988,988,819093294546305024,445318639,"Pobresita jajajaja, no no tendras su amistad d...",Wed Jan 11 08:07:14 +0000 2017,es,NaN